{% extends 'base.html' %}

{% block content %}
  <div id="experience" class="section">
    <div class="section-heading">
      <h1>Experience</h1>
    </div>
    <div class="experience-container">
      <div class="experience-item">
        <h2>Software Developer</h2>
        <h3>XYZ Inc.</h3>
        <p class="experience-date">June 2019 - Present</p>
        <ul class="experience-list">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Suspendisse et erat varius, commodo urna ac, vehicula dolor.</li>
          <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
          <li>Proin ut leo in mi commodo luctus.</li>
        </ul>
      </div>
      <div class="experience-item">
        <h2>Software Engineer</h2>
        <h3>ABC Corp.</h3>
        <p class="experience-date">January 2018 - May 2019</p>
        <ul class="experience-list">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Suspendisse et erat varius, commodo urna ac, vehicula dolor.</li>
          <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
          <li>Proin ut leo in mi commodo luctus.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
