{% extends 'base.html' %} {% block content %}
<div class="experience-container">
  <div class="experience-details">
    <div class="job-details active set-min-height" id="e2infosystems">
      <h2>
        Python Developer
        <span class="company-name"
          >@
          <a
            href="https://www.e2infosystems.com/"
            class="inline-link"
            rel="noopener noreferrer"
            target="_blank"
            >E2Infosystems</a
          >
        </span>
      </h2>
      <p>August 2021 - December 2021</p>
      
      <ul class="job-description">
        <li>
          Led the successful migration of the backend of a healthcare application from PHP to Django, resulting in improved system performance and stability, handling traffic of more than 10,000 users per day.
        </li>  <br>
        <li>
          Developed an auto-assigning mechanism for sensor devices using Python Django ORM & DB transactions, streamlining device allocation, and naming processes and reducing manual effort by 80%. 
        </li> <br>
        <li>
          Designed and implemented a real-time mobile device tracking feature and an on-demand report generation module, improving auditing and decision-making process.
        </li>
      </ul>
    </div>
    <div class="job-details inactive" id="wipro">
      <h2>
        Python Developer
        <span class="company-name"
          >@
          <a
            href="https://www.wipro.com/"
            class="inline-link"
            rel="noopener noreferrer"
            target="_blank"
            >Wipro Technologies</a
          >
        </span>
      </h2>
      <p>May 2019 - December 2021</p>
      <ul class="job-description">
        <li>
          Collaborated with engineers and designers in solving complex backend issues, contributing to enhanced application reliability and uptime. 
        </li> <br>
        <li>
          Oversaw backend operations of banking applications through various SDLC stages, including coding and testing, ensuring optimal performance and Service Level Agreement adherence.
        </li>
      </ul>
    </div>
    {% comment %}
    <div class="job-details" id="northeastern">
      <h2>
        Python Developer
        <span class="company-name"
          >@
          <a
            href="https://www.e2infosystems.com/"
            class="inline-link"
            rel="noopener noreferrer"
            target="_blank"
            >Wipro Technologies</a
          >
        </span>
      </h2>
      <p>May 2018 - Present</p>
      <ul class="job-description">
        <li>
          Deliver high-quality, robust production code for a diverse array of
          projects for clients including Harvard Business School, Everytown for
          Gun Safety, Pratt Institute, Koala Health, Vanderbilt University, The
          19th News, and more
        </li>
        <li>
          Work alongside creative directors to lead the research, development,
          and architecture of technical solutions to fulfill business
          requirements
        </li>
        <li>
          Collaborate with designers, project managers, and other engineers to
          transform creative concepts into production realities for clients and
          stakeholders
        </li>
        <li>
          Provide leadership within the engineering department through close
          collaboration, knowledge sharing, and mentorship
        </li>
      </ul>
    </div>
    {% endcomment %}
  </div>
  <div class="spacer"></div>

  <div class="company-heading-list">
    <div>
      <h2>Where I’ve Worked</h2>
      <div class="company-list">
        <ul>
          <li class="company-item active" data-target="e2infosystems">
            <span>E2 Infosystems</span>
          </li>
          <li class="company-item" data-target="wipro">
            <span>Wipro Technologies</span>
          </li>
          {% comment %}
          <li class="company-item" data-target="northeastern">
            <span>Northeastern University</span>
          </li>
          {% endcomment %}
        </ul>
     </div>
    </div>
  </div>
</div>

{% comment %} This script handles the interactivity of the job details section
When a company item is clicked, the corresponding job details are displayed 
{% endcomment %}

<script>
  const companyItems = document.querySelectorAll(".company-item");
  const jobDetails = document.querySelectorAll(".job-details");

  companyItems.forEach((item) => {
    item.addEventListener("click", () => {
      const target = item.getAttribute("data-target");

      jobDetails.forEach((details) => {
        if (details.id === target) {
          details.classList.add("set-min-height");
          details.classList.add("active");
          details.classList.remove("inactive");
        } else {
          details.classList.add("inactive");
          details.classList.remove("set-min-height");
          details.classList.remove("active");
        }
      });
    });
  });
</script>
{% endblock %}
