{% extends 'base.html' %} {% block content %}
<div class="landing-content">
  <h1 class="intro">Hi, my name is</h1>
  <h2 class="big-heading name" data-text="Raj Sudharshan.">Raj Sudharshan.</h2>
  <h3 class="big-heading2 passion">
    Engineering Impactful Digital Experiences
  </h3>
  <p class="description">
    I'm a software developer specializing in building scalable solutions for various applications. Tackling complex
    problems using cloud technologies, data structures, and algorithms to create
    standout, high-impact products.
  </p>
</div>
{% endblock content %}
