{% extends 'base.html' %} {% block content %}
<div class="project-container">
  <div class="project-details">
    <div class="project-heading active set-min-height" id="DineQ">
      <h2>
        DineQ
      </h2>
      <p>June 2023</p>

      <ul class="project-description">
        <li>
          DineQ, a product of the 2023 Square Developer Hackathon, is a dual-app solution designed to revolutionize the dining experience for both customers and restaurant owners. Developed using Django Rest Framework, Square API, PostgreSQL, and Flutter, it introduces a virtual queue system, in-app ordering, and a digital tab.
        </li> <br>
        <li>
          The customer app, a standout for its virtual queue feature, utilizes geofencing technology and Google Maps API to enable customers to locate nearby restaurants and join a virtual queue from their current location. It eradicates the need for physical queues, cuts down wait times, and streamlines the ordering and payment process through the integration of Square API.
        </li> <br>
        <li>
          The restaurant owner app serves as a robust management tool. It facilitates seamless menu and inventory management, allows for the release of seats for new customers, and ensures secure and efficient payment processing, all made possible by the integration of Square API.
        </li>
        <div class="links">
          <a href="https://github.com/RAJ-SUDHARSHAN/DineQ_Backend" class="github-project-link" target="_blank">
            <span>Github</span>
          </a>
          <a href="https://drive.google.com/file/d/1qS1O014vUBZECEdzcn1NuPgiaHLz1qFN/view?usp=sharing" class="github-project-link" target="_blank">
            <span>DineQ app</span>
          </a>
          <a href="https://drive.google.com/file/d/175erRkID43iZGUvqUMwsfH264PongSKd/view?usp=sharing" class="github-project-link" target="_blank">
            <span>DineQ Restaurant app</span>
          </a>
          <a href="https://devpost.com/software/dineq" class="github-project-link" target="_blank">
            <span>Devpost submission</span>
          </a>
        </div>
      </ul>
    </div>
    <div class="project-heading inactive" id="sssserpent-struggle">
      <h2>
        Sssserpent Struggle
      </h2>
      <p>April 2023</p>

      <ul class="project-description">
        <li>
          Sssserpent Struggle, developed during the Pygames Devpost Hackathon, is a tribute to the iconic Snake Game that has entertained generations. This project, built using Python and the Pygame library, revives the retro game while introducing new elements to engage today's players. The game is designed to test players' skills and strategy, as they navigate a snake through a playing field, consuming pellets to grow in length. The added challenge is the presence of enemy snakes, also pursuing the same food using a greedy path-finding algorithm.
        </li> <br>
        <li>
          The game stands out for its simplistic yet visually appealing design, smooth and responsive gameplay mechanics, and gradually increasing difficulty as the snake grows in length. The game also features four enemy snakes with advanced path-finding algorithms and blocks that require strategic navigation to avoid or overcome.
        </li>
        <div class="links">
          <a href="https://github.com/RAJ-SUDHARSHAN/Sssserpent-Struggle" class="github-project-link" target="_blank">
            <span>Github</span>
          </a>
          <a href="https://rajsudharshan.itch.io/sssserpent-struggle" class="github-project-link" target="_blank">
            <span>Try it out</span>
          </a>
          <a href="https://devpost.com/software/sssserpent-struggle" class="github-project-link" target="_blank">
            <span>Devpost submission</span>
          </a>
        </div>
      </ul>
    </div>
    <div class="project-heading inactive" id="cloud-data-pipeline">
      <h2>
        Low Latency Cloud Data Pipeline
      </h2>
      <p>February 2023</p>
      <ul class="project-description">
        <li>
          The Real-Time Cloud Data Pipeline is a robust, cloud-based solution designed to handle, process, and update millions of real-time transaction data. The primary objective was to create a system that ensures every transaction is processed and stored efficiently, thereby facilitating swift business analytics and reporting.
        </li> <br>
        <li>
          The solution operates on three core components: Data Collection, Data Processing, and Data Analysis. Data Collection uses an API Gateway to accept incoming transaction data, which is then processed and queued. Data Processing involves a Lambda function that inserts the transaction data into an RDS database. Data Analysis uses CloudWatch rules to trigger periodic updates in the Redshift database, providing an up-to-date view of the transaction data for reporting and analytics.
        </li> <br>
        <li>
          The project is distinguished by its scalability and efficiency. It employs an SQS queue-triggered system for efficient data processing and a CloudWatch rules-based system for regular data transfer from RDS to Redshift. This design enables efficient data analysis, cost-effective reporting, and swift dashboard updates, demonstrating the power of AWS services in creating efficient, scalable, and real-time data pipelines for insightful decision-making.
        </li>
        <div class="links">
          <a href="https://github.com/RAJ-SUDHARSHAN/Low-Latency-Cloud-Data-Pipeline" class="github-project-link" target="_blank">
            <span>Github</span>
          </a>
          <a href="https://github.com/RAJ-SUDHARSHAN/Low-Latency-Cloud-Data-Pipeline/blob/main/AWS_Architecture_explanation_doc.pdf" class="github-project-link" target="_blank">
            <span>Architecture Document</span>
          </a>
        </div>
      </ul>
    </div>
    <div class="project-heading inactive" id="trailtrack">
      <h2>
        TrailTrack
      </h2>
      <p>December 2022</p>
      <ul class="project-description">
        <li>
          TrailTrack, a runner-up project in the Google Developer Student Club (DSC) Hackathon conducted by Northeastern University, is a progressive web application designed to enhance child safety. It uses real-time location tracking technology to provide parents with up-to-date information on their child's whereabouts, offering a powerful tool for safety and awareness.
        </li> <br>
        <li>
          The application serves as a comprehensive safety tool, offering real-time emergency reporting and location tracking capabilities. Its live tracking system ensures parents are constantly updated about their child's location, allowing them to act promptly in case of emergencies. A standout feature of TrailTrack is its push notification system. This system sends alerts to parents if their child moves beyond a predefined boundary, providing an additional layer of security and peace of mind.
        </li>
        <div class="links">
          <a href="https://github.com/RAJ-SUDHARSHAN/DSCNU_ByteWarriors_Backend" class="github-project-link" target="_blank">
            <span>Github</span>
          </a>
        </div>
      </ul>
    </div>
  </div>
  <div class="spacer"></div>

  <div class="project-heading-list">
    <div>
      <h2>Projects</h2>
      <div class="project-list">
        <ul>
          <li class="project-item active" data-target="DineQ">
            <span>DineQ</span>
          </li>
          <li class="project-item" data-target="sssserpent-struggle">
            <span>Sssserpent Struggle</span>
          </li>
          <li class="project-item" data-target="cloud-data-pipeline">
            <span>Low Latency Cloud Data Pipeline</span>
          </li>
          <li class="project-item" data-target="trailtrack">
            <span>TrailTrack</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  const projectItems = document.querySelectorAll(".project-item");
  const projectDetails = document.querySelectorAll(".project-heading");

  projectItems.forEach((item) => {
    item.addEventListener("click", () => {
      const target = item.getAttribute("data-target");

      projectDetails.forEach((details) => {
        if (details.id === target) {
          details.classList.add("set-min-height");
          details.classList.add("active");
          details.classList.remove("inactive");
        } else {
          details.classList.add("inactive");
          details.classList.remove("set-min-height");
          details.classList.remove("active");
        }
      });
    });
  });
</script>
{% endblock %}
