{% extends 'base.html' %} {% block content %}
<div class="project-container">
  <div class="project-details">
    <div class="project-heading active set-min-height" id="DineQ">
      <h2>
        DineQ
      </h2>
      <p>June 2023</p>

      <ul class="project-description">
        <li>
          Pioneered the development of DineQ, a comprehensive Android dining application that enhances the dining experience with features like virtual queue management, in-app ordering, and a digital tab.
        </li>
        <li>
          Constructed a robust backend using the Django Rest Framework and Square API to manage orders, invoices, menus, and inventory, complemented by an intuitive and user-friendly Flutter frontend.
        </li>
        <li>
          Incorporated geofencing technology and Google Maps API for efficient restaurant discovery and queue management, backed by powerful geolocation system using PostGIS for sophisticated location-based querying.
        </li>
        <div class="links">
          <a href="https://github.com/RAJ-SUDHARSHAN/DineQ_Backend" class="github-project-link" target="_blank">
            <span>Github</span>
          </a>
          <a href="https://drive.google.com/file/d/1qS1O014vUBZECEdzcn1NuPgiaHLz1qFN/view?usp=sharing" class="github-project-link" target="_blank">
            <span>DineQ app</span>
          </a>
          <a href="https://drive.google.com/file/d/175erRkID43iZGUvqUMwsfH264PongSKd/view?usp=sharing" class="github-project-link" target="_blank">
            <span>DineQ Restaurant app</span>
          </a>
        </div>
      </ul>
    </div>
    <div class="project-heading inactive" id="sssserpent-struggle">
      <h2>
        Sssserpent Struggle
      </h2>
      <p>April 2023</p>

      <ul class="project-description">
        <li>
          Reinvented the classic snake game using Python and Pygame, introducing
          dynamic obstacles and strategic enemy snakes with intelligent
          behavior.
        </li>
        <li>
          Exhibited proficiency in algorithm design and optimization by devising
          an efficient path-finding algorithm for enemy snakes, ensuring a
          seamless and visually engaging gaming experience.
        </li>
        <a href="https://github.com/RAJ-SUDHARSHAN/Sssserpent-Struggle" class="github-project-link" target="_blank">
          <span>Github</span>
        </a>
      </ul>
    </div>
    <div class="project-heading inactive" id="cloud-data-pipeline">
      <h2>
        Low Latency Cloud Data Pipeline
      </h2>
      <p>February 2023</p>
      <ul class="project-description">
        <li>
          Built a scalable and efficient serverless cloud-native data pipeline
          using Python and AWS, with real-time updates and proactive monitoring
          with CloudWatch for increased reliability and minimal downtime.
        </li>
        <li>
          Created a low-latency reporting solution featuring real-time dashboard
          filter adjustments, guaranteeing near-instant data availability and
          responsiveness. Streamlined decision-making for stakeholders and
          executives, leading to improved business outcomes.
        </li>
        <a href="https://github.com/RAJ-SUDHARSHAN/Low-Latency-Cloud-Data-Pipeline" class="github-project-link" target="_blank">
          <span>Github</span>
        </a>
      </ul>
    </div>
    <div class="project-heading inactive" id="trailtrack">
      <h2>
        TrailTrack
      </h2>
      <p>December 2022</p>
      <ul class="project-description">
        <li>
          Developed a real-time emergency reporting webapp with a location
          tracking feature, allowing parents to monitor child’s location in
          real-time for added safety.
        </li>
        <li>
          Implemented a live tracking system to provide up-to-date information
          on child’s location, ensuring parents always receive accurate
          information.
        </li>
        <a href="https://github.com/RAJ-SUDHARSHAN/DSCNU_ByteWarriors_Backend" class="github-project-link" target="_blank">
          <span>Github</span>
        </a>
      </ul>
    </div>
  </div>
  <div class="spacer"></div>

  <div class="project-heading-list">
    <h2>Projects</h2>
    <div class="project-list">
      <ul>
        <li class="project-item active" data-target="DineQ">
          <span>DineQ</span>
        </li>
        <li class="project-item" data-target="sssserpent-struggle">
          <span>Sssserpent Struggle</span>
        </li>
        <li class="project-item" data-target="cloud-data-pipeline">
          <span>Low Latency Cloud Data Pipeline</span>
        </li>
        <li class="project-item" data-target="trailtrack">
          <span>TrailTrack</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  const projectItems = document.querySelectorAll(".project-item");
  const projectDetails = document.querySelectorAll(".project-heading");

  projectItems.forEach((item) => {
    item.addEventListener("click", () => {
      const target = item.getAttribute("data-target");

      projectDetails.forEach((details) => {
        if (details.id === target) {
          details.classList.add("set-min-height");
          details.classList.add("active");
          details.classList.remove("inactive");
        } else {
          details.classList.add("inactive");
          details.classList.remove("set-min-height");
          details.classList.remove("active");
        }
      });
    });
  });
</script>
{% endblock %}
