/* Default styles for all screen sizes */
:root {
  --color-main-bg: rgba(29, 29, 32, 255);
  --color-main-text: #d1d1d1;
  --color-gradient-1: rgb(85, 170, 108);
  --color-gradient-2: rgb(135, 106, 174);
}

body {
  margin: 0;
  font-family: Montserrat-Regular;
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
}

/* Outer box */
.outer-box {
  position: absolute;
  inset: 0;
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  background-color: transparent;
  border: 2px solid var(--color-main-bg);
  border-radius: 1rem;
  border-top-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  opacity: 1;
  z-index: 0;
}

.frame-animate {
  animation: load-frame 1s ease forwards;
}

@keyframes load-frame {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Inner box */
.inner-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 3rem;
  background-color: var(--color-main-bg);
  padding: 2rem;
  overflow: auto;
  border-radius: 1rem;
  opacity: 1;
  z-index: 1;
  justify-content: center;
}

/* Navigation menu */
.nav-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.nav-menu a {
  text-decoration: none;
  color: var(--color-main-text);
  opacity: 1;
}

.nav-animate a {
  animation: slide-down 1s ease forwards;
  opacity: 0;
  transform: translateY(-2rem);
}

.nav-animate a:nth-child(1) {
  animation-delay: 0.2s;
}

.nav-animate a:nth-child(2) {
  animation-delay: 0.4s;
}

.nav-animate a:nth-child(3) {
  animation-delay: 0.6s;
}

.nav-animate a:nth-child(4) {
  animation-delay: 0.8s;
}

.nav-animate a:nth-child(5) {
  animation-delay: 1s;
}

/* Social icons container */
.social-icons-container {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  position: absolute;
  bottom: 8rem;
  left: 2rem;
  margin: auto;
  width: fit-content;
  z-index: 2;
}

.social-icons-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-main-text);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 1;
}

.social-icons-animate a {
  transform: translateY(-1rem);
  animation: slide-down 0.8s ease forwards;
  opacity: 0;
}

.social-icons-animate a:nth-child(1) {
  animation-delay: 0.8s;
}

.social-icons-animate a:nth-child(2) {
  animation-delay: 0.6s;
}

.social-icons-animate a:nth-child(3) {
  animation-delay: 0.4s;
}

/* Social icons line */
.social-icons-line {
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  width: 0.2rem;
  height: 6rem;
  opacity: 1;
  background: linear-gradient(
    to bottom,
    var(--color-gradient-1) 20%,
    var(--color-gradient-2) 80%
  );
}

.social-icons-line-animate {
  transform: translateY(-1rem);
  animation: slide-down 1s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

@keyframes slide-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* L shape top left */
.l-shape-top-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 12.5rem;
  height: 1.5rem;
  background: linear-gradient(
    135deg,
    var(--color-gradient-1) 20%,
    var(--color-gradient-2) 80%
  );
  border-radius: 1rem 0 0 0;
  z-index: 1;
}

.l-shape-top-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 14rem;
  background: linear-gradient(
    135deg,
    var(--color-gradient-1) 20%,
    var(--color-gradient-2) 80%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - 1.2rem),
    1.2rem calc(100% - 1.2rem),
    0% 100%
  );
  border-radius: 1rem 0 0 0;
}

.l-shape-top-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 12.5rem;
  width: 0;
  height: 0;
  border-bottom: 1.2rem solid var(--color-gradient-2);
  border-right: 1.2rem solid transparent;
  transform: rotate(90deg);
}

.l-shape-bottom-right {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 12.5rem;
  height: 1.5rem;
  background: linear-gradient(
    to left,
    var(--color-gradient-1) 20%,
    var(--color-gradient-2) 80%
  );
  border-radius: 0 0 1rem 0;
  z-index: 1;
}

.l-shape-bottom-right::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  height: 14rem;
  background: linear-gradient(
    to top,
    var(--color-gradient-1) 20%,
    var(--color-gradient-2) 80%
  );
  clip-path: polygon(0% 1.2rem, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 0 0 1rem 0;
}

.l-shape-bottom-right::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 12.3rem;
  width: 0;
  height: 0;
  border-top: 1.2rem solid var(--color-gradient-2);
  border-right: 1.2rem solid transparent;
  transform: rotate(180deg);
}

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  color: var(--color-main-text);
  animation: fade-in 1s ease-out;
}

.intro {
  font-size: 1.2rem;
  opacity: 0;
  margin-bottom: -1rem;
  transform: translateY(1rem);
  animation: slide-up 1s ease-out 1.2s forwards;
}

.big-heading {
  font-weight: bold;
  opacity: 0;
  line-height: normal;
  transform: translateY(1rem);
}

.name {
  font-size: 4rem;
  position: relative;
  color: #ccd6f6;
  animation: slide-up 1.2s ease-out 1.5s forwards;
}

.name:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  animation: stroke-dash 3s ease-in-out infinite;
}

.passion {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: normal;
  transform: translateY(1rem);
  opacity: 0;
  animation: slide-up 1.5s ease-out 1.8s forwards;
  color: #a8b0c6;
  margin-bottom: 2rem;
  margin-top: 0rem;
}

.description {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0;
  transform: translateY(1rem);
  animation: slide-up 1.8s ease-out 2s forwards;
  line-height: 1.3;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0 100;
  }

  50% {
    stroke-dasharray: 100 100;
  }

  100% {
    stroke-dasharray: 0 100;
  }
}

/* About page */
main.container {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.about-left,
.about-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.about-left {
  flex: 0.7;
  padding: 0;
  padding-left: 3rem;
}

.about-container h1 {
  font-size: 2.5rem;
  color: var(--color-main-text);
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 3rem;
}

.about-left p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 0;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  padding: 0px;
  margin: 0;
  overflow: hidden;
  list-style: none;
  place-items: baseline;
}

ul.skills-list li {
  font-size: 1rem;
}

ul.skills-list li::before {
  content: "▹";
  left: 4rem;
  color: #8690ad;
  line-height: 1rem;
  padding-right: 0.5rem;
}

.about-right {
  flex: 0.3;
  justify-content: flex-start;
  align-items: stretch;
}

.about-right img {
  width: 100%;
  height: 100%;
  height: auto;
  border-radius: 1rem;
  justify-content: flex-start;
}

.experience-container {
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  line-height: 1.5rem;
}

.company-heading-list {
  height: 100%;
}

.company-name {
  background: -webkit-linear-gradient(
    left,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );
  background: -o-linear-gradient(
    right,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );
  background: -moz-linear-gradient(
    right,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );
  background: linear-gradient(
    to right,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-details h2,
.company-heading-list h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: Montserrat-Regular;
  font-weight: 100;
  line-height: 35px;
}

.experience-details h2 {
  margin-top: 3rem;
}

.experience-details {
  flex: 1;
}

.job-details {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: 100%;
  transition: all 0.2s linear;
  overflow: hidden;
}

.job-details.active {
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: scaleX(1);
}

.job-details.inactive {
  visibility: hidden;
  height: 0;
}

.job-details.set-min-height {
  min-height: 320px;
}

.spacer {
  min-width: 90px;
  max-width: 130px;
}

.company-heading-list li {
  list-style: none;
}

.company-heading-list {
  flex: 0 0 30%;
}

.company-list {
  position: relative;
}

.company-list::before,
.company-list::after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  width: 6rem;
  height: 6rem;
  border-top-left-radius: 1rem;
  top: -2px;
  bottom: 0;
  left: -2px;
}

.company-list::before {
  background: linear-gradient(
    135deg,
    var(--color-gradient-1) 0%,
    var(--color-gradient-2) 50%,
    var(--color-gradient-1) 100%
  );
  opacity: 1;
}

.company-list::after {
  background: linear-gradient(
    135deg,
    var(--color-gradient-2) 0%,
    var(--color-gradient-1) 50%,
    var(--color-gradient-2) 100%
  );
  opacity: 0;
}

.company-list ul {
  padding-left: 30px;
  padding-top: 30px;
  margin-top: 30px;
  padding-bottom: 60px;
  border-radius: 1rem;
  background-color: var(--color-main-bg);
  z-index: 1;
}

.company-item {
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.company-item.active span {
  transform: rotate(360deg);
  position: relative;
  z-index: 1;
}

@keyframes rotate-in {
  from {
    transform-origin: 100%;
    opacity: 0;
    width: 100%;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes rotate-out {
  from {
    opacity: 1;
    transform: scaleX(1);
  }

  to {
    transform-origin: 100%;
    opacity: 0;
    width: 100%;
    transform: scaleX(0);
  }
}

/* Media Screens */
@media (max-width: 485px) and (max-height: 799px) {
  .nav-menu {
    font-size: 0.8rem;
  }

  .social-icons-container {
    font-size: 0.5rem;
    bottom: 5rem;
  }

  .social-icons-line {
    left: 2.4rem;
    height: 3rem;
  }

  .l-shape-top-left {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-top-left::before {
    height: 8rem;
  }

  .l-shape-top-left::after {
    left: 6.8rem;
  }

  .l-shape-bottom-right {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-bottom-right::before {
    height: 8rem;
  }

  .l-shape-bottom-right::after {
    right: 6.8rem;
  }

  .intro {
    font-size: 0.7rem;
  }

  .name {
    font-size: 2.1rem;
  }

  .passion {
    font-size: 1.3rem;
  }

  .description {
    font-size: 0.8rem;
  }

  main.container {
    align-items: normal;
  }

  .about-container h1 {
    padding-left: 1.2rem;
    font-size: 1.3rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .about-left p {
    font-size: 0.7rem;
  }

  ul.skills-list li {
    font-size: 0.7rem;
  }

  .about-right {
    display: none;
  }

  .experience-container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .experience-container ul {
    font-size: 0.9rem;
  }

  .experience-details h2,
  .company-heading-list h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .company-list ul {
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 485px) and (min-height: 800px) {
  .nav-menu {
    font-size: 0.8rem;
  }

  .social-icons-container {
    font-size: 0.5rem;
    bottom: 5rem;
  }

  .social-icons-line {
    left: 2.4rem;
    height: 3rem;
  }

  .l-shape-top-left {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-top-left::before {
    height: 8rem;
  }

  .l-shape-top-left::after {
    left: 6.8rem;
  }

  .l-shape-bottom-right {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-bottom-right::before {
    height: 8rem;
  }

  .l-shape-bottom-right::after {
    right: 6.8rem;
  }

  .intro {
    font-size: 0.9rem;
  }

  .name {
    font-size: 2.5rem;
  }

  .passion {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1rem;
  }

  .about-container h1 {
    padding-left: 1.2rem;
    font-size: 1.5rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .about-left p {
    font-size: 0.8rem;
  }

  ul.skills-list li {
    font-size: 0.8rem;
  }

  .about-right {
    display: none;
  }

  .experience-container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .experience-container ul {
    font-size: 0.9rem;
  }

  .experience-details h2,
  .company-heading-list h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .company-list ul {
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 486px) and (max-width: 639px) {
  .nav-menu {
    font-size: 0.8rem;
  }

  .social-icons-container {
    font-size: 0.5rem;
    bottom: 5rem;
  }

  .social-icons-line {
    left: 2.4rem;
    height: 3rem;
  }

  .l-shape-top-left {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-top-left::before {
    height: 8rem;
  }

  .l-shape-top-left::after {
    left: 6.8rem;
  }

  .l-shape-bottom-right {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-bottom-right::before {
    height: 8rem;
  }

  .l-shape-bottom-right::after {
    right: 6.8rem;
  }

  .intro {
    font-size: 0.6rem;
  }

  .name {
    font-size: 3.2rem;
  }

  .passion {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .about-container h1 {
    padding-left: 2rem;
    font-size: 1.5rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about-left p {
    font-size: 0.8rem;
  }

  ul.skills-list li {
    font-size: 0.8rem;
  }

  .about-right {
    display: none;
  }

  .experience-container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .experience-container ul {
    font-size: 0.9rem;
  }

  .experience-details h2,
  .company-heading-list h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .company-list ul {
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .nav-menu {
    font-size: 0.8rem;
  }

  .social-icons-container {
    font-size: 0.5rem;
    bottom: 5rem;
  }

  .social-icons-line {
    left: 2.4rem;
    height: 3rem;
  }

  .l-shape-top-left {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-top-left::before {
    height: 8rem;
  }

  .l-shape-top-left::after {
    left: 6.8rem;
  }

  .l-shape-bottom-right {
    width: 7rem;
    height: 1.5rem;
  }

  .l-shape-bottom-right::before {
    height: 8rem;
  }

  .l-shape-bottom-right::after {
    right: 6.8rem;
  }

  .intro {
    font-size: 0.7rem;
  }

  .name {
    font-size: 3.4rem;
  }

  .passion {
    font-size: 1.7rem;
  }

  .description {
    font-size: 0.8rem;
    padding-right: 3rem;
  }

  .about-container h1 {
    font-size: 1.7rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
    text-align: center;
    padding-right: 3rem;
  }

  .about-left p {
    font-size: 0.8rem;
  }

  ul.skills-list li {
    font-size: 0.8rem;
  }

  .about-right {
    display: none;
  }

  .experience-container {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .experience-container ul {
    font-size: 0.9rem;
  }

  .experience-details h2,
  .company-heading-list h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .company-list ul {
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }

  .job-details.set-min-height {
    min-height: 360px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    font-size: 0.8rem;
  }

  .name {
    font-size: 3.6rem;
  }

  .passion {
    font-size: 1.9rem;
  }

  .description {
    font-size: 0.8rem;
    padding-right: 3rem;
  }

  .about-container h1 {
    font-size: 1.9rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
    text-align: center;
    padding-right: 3rem;
  }

  .about-left p {
    font-size: 0.8rem;
  }

  ul.skills-list li {
    font-size: 0.8rem;
  }

  .about-right {
    display: none;
  }

  .experience-container {
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .experience-container ul {
    font-size: 1rem;
  }

  .experience-details h2,
  .company-heading-list h2 {
    font-size: 1.7rem;
  }

  .company-list ul {
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }

  .job-details.set-min-height {
    min-height: 340px;
  }
}

@media (min-width: 1024px) {
  .intro {
    font-size: 1rem;
  }

  .name {
    font-size: 3.8rem;
  }

  .passion {
    font-size: 2.1rem;
  }

  .description {
    font-size: 1rem;
    padding-right: 3rem;
  }

  .about-container h1 {
    font-size: 2.1rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
    text-align: center;
    padding-right: 3rem;
  }

  .about-left p {
    font-size: 1rem;
  }

  ul.skills-list li {
    font-size: 1rem;
  }

  .about-right {
    display: none;
  }

  .experience-container {
    padding-left: 4rem;
  }

  .job-details.set-min-height {
    min-height: 380px;
  }
}
